* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.caontainer {
  background-color: #3d3b3f;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  font-size: 80px;
  margin-bottom: 30px;
}
.timer {
  color: white;
  font-size: 90px;
  padding: 30px 70px;
  margin-bottom: 50px;
}
.buttons {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}
.btn {
  border-radius: 10px;
  color: white;
  border: 0;
  font-size: 25px;
  cursor: pointer;
  padding: 20px 50px;
}
.btn-start {
  background-color: #60ba37;
}
.btn-pause {
  background-color: #4b81ee;
}
.btn-reset {
  background-color: #e94c4d;
}
